In [43]:
import pandas as pd
import numpy as np
import random
import matplotlib as plt

# Dataframe

Un DataFrame è la struttura dati principale di pandas, progettata per gestire dati tabulari. Alcune caratteristiche chiave:

- È composto da righe e colonne, dove ogni colonna può contenere dati di diverso tipo (numeri, testo, date, ecc.)
- Le colonne hanno un nome che le identifica
- Le righe sono identificate da un indice (numerico o di altro tipo)
- È bidimensionale: ha 2 assi (righe e colonne)
<br><br>
<div style="text-align: center;">
    <img src="imgs\pandas-data-frame.svg" width="500">
</div>

# Modalità di creazione

In [44]:
n = 10
days = pd.date_range('2018-01-01', periods=n, freq='D')
names = [random.choice(['Angelo', 'Marco', 'Vittorio']) for _ in range(n)]
numbers = [random.randint(1, 10) for _ in range(n)]

df = pd.DataFrame(data=zip(names, numbers), columns=['names', 'numbers'], index=days)

La funzione `head()` permette di visualizzare le prime righe di un DataFrame.

La funzione `tail()` permette di visualizzare le ultime righe di un DataFrame.

In [45]:
df.head()

               names  numbers
2018-01-01     Marco        6
2018-01-02     Marco        4
2018-01-03  Vittorio        9
2018-01-04    Angelo        3
2018-01-05  Vittorio        7

Un Dataframe può essere creato da un dizionario di liste o array NumPy.

In [46]:
# dataframe from dictionary
data = {
    'names': names,
    'numbers': numbers
}

pd.DataFrame(data).head()

      names  numbers
0     Marco        6
1     Marco        4
2  Vittorio        9
3    Angelo        3
4  Vittorio        7

Oppure da una lista di dizionari.

In [47]:
data = [
    {'names': 'Angelo', 'numbers': 1},
    {'names': 'Marco', 'numbers': 2},
    {'names': 'Vittorio', 'numbers': 3}
]

pd.DataFrame(data).head()

      names  numbers
0    Angelo        1
1     Marco        2
2  Vittorio        3

Dataframe da array NumPy.

In [48]:
data = np.random.randn(5, 3)
pd.DataFrame(data, columns=['A', 'B', 'C']).head()

          A         B         C
0  0.018483  0.398562  0.831933
1  1.844513  0.066592 -0.100631
2  0.057322 -1.309645  0.187262
3  0.452126 -0.555212 -0.193208
4  0.112001 -1.630739  1.890963

# Caratteristiche principali

Il metodo `info()` fornisce informazioni sul DataFrame, come il numero di righe e colonne, il tipo di dati di ciascuna colonna e il numero di valori non nulli.

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2018-01-01 to 2018-01-10
Freq: D
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   names    10 non-null     object
 1   numbers  10 non-null     int64
dtypes: int64(1), object(1)
memory usage: 240.0+ bytes

`describe()` restituisce statistiche di base per le colonne numeriche.

In [29]:
df.describe()

         numbers
count  10.000000
mean    5.900000
std     2.601282
min     2.000000
25%     4.000000
50%     6.500000
75%     7.000000
max    10.000000

`columns` restituisce i nomi delle colonne.

In [30]:
df.columns

Index(['names', 'numbers'], dtype='object')

`index` restituisce l'indice delle righe.

In [31]:
df.index

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10'],
              dtype='datetime64[ns]', freq='D')

`dtypes` restituisce i tipi di dati delle colonne.

In [32]:
df.dtypes

names      object
numbers     int64
dtype: object

`to_numpy()` converte il DataFrame in un array NumPy.

In [33]:
df.to_numpy()

array([['Vittorio', 4],
       ['Angelo', 4],
       ['Angelo', 7],
       ['Marco', 9],
       ['Vittorio', 7],
       ['Vittorio', 10],
       ['Angelo', 6],
       ['Vittorio', 2],
       ['Angelo', 3],
       ['Marco', 7]], dtype=object)

# Conversione in altri formati

In [49]:
# Crea un dizionario di dizionari in cui le chiavi esterne sono i nomi delle colonne e le chiavi interne sono gli indici delle righe.
# Ovvero se d è il dizionario e gli indici sono interi progressivi per accedere al valore della colonna 'names' della riga 0 si scrive d['names'][0]
df.to_dict(orient='list')

{'names': ['Marco',
  'Marco',
  'Vittorio',
  'Angelo',
  'Vittorio',
  'Marco',
  'Angelo',
  'Vittorio',
  'Marco',
  'Marco'],
 'numbers': [6, 4, 9, 3, 7, 6, 9, 9, 5, 9]}

In [50]:
# l'attributo orient permette di specificare la struttura del dizionario.
# Ad esempio con orient='records' si ottiene una lista di dizionari in cui ogni dizionario rappresenta una riga del dataframe.
df.to_dict(orient='records')

[{'names': 'Marco', 'numbers': 6},
 {'names': 'Marco', 'numbers': 4},
 {'names': 'Vittorio', 'numbers': 9},
 {'names': 'Angelo', 'numbers': 3},
 {'names': 'Vittorio', 'numbers': 7},
 {'names': 'Marco', 'numbers': 6},
 {'names': 'Angelo', 'numbers': 9},
 {'names': 'Vittorio', 'numbers': 9},
 {'names': 'Marco', 'numbers': 5},
 {'names': 'Marco', 'numbers': 9}]

# Importazione ed esportazione

Pandas permette di importare ed esportare dati in diversi formati, tra cui: CSV, Excel, SQL, JSON, HTML, HDF5, Parquet, SAS, Clipboard.


Le funzioni di importazione hanno il prefisso `read_`, i metodi di esportazione hanno il prefisso `to_`.

In [51]:
# esempio di importazione di un file csv
df = pd.read_csv(r'data\house-prices-advanced-regression-techniques\train.csv', index_col='Id')

In [52]:
# estraggo le colonne 'LotArea' e 'SalePrice' e le salvo in un nuovo dataframe
# salvo il nuovo dataframe in un file parquet

df[['LotArea', 'SalePrice']].to_parquet(r'data\house-prices-advanced-regression-techniques\train.parquet')

# Gli indici

In pandas ad ogni riga è associato un indice, che può essere numerico o di altro tipo. L'indice può essere univoco o ripetuto. Se non viene specificato, l'indice è numerico e parte da 0. Quando si combinano serie o dataframe, l'indice viene utilizzato per allineare i dati.

In [53]:
s1 = pd.Series([1, 2, 3, 4, 5], index=[1, 4, 6, 8, 9])
s2 = pd.Series([10, 20, 30, 40, 50], index=[1, 2, 3, 4, 5])

s1 + s2

1    11.0
2     NaN
3     NaN
4    42.0
5     NaN
6     NaN
8     NaN
9     NaN
dtype: float64

Gli indici possono essere duplicati anche se generalmente non è una buona pratica

In [54]:
s1 = pd.Series([1, 2, 3, 4, 5], index=[1, 1, 6, 8, 9]); s1

1    1
1    2
6    3
8    4
9    5
dtype: int64

# Series

Una serie è una struttura dati unidimensionale, che può rappresentare una riga o una colonna di un dataframe.

Caratteristiche principali:

- È composta da un array NumPy e da un indice
- Ha un nome
- Ha un tipo di dati uniforme

In [55]:
# creazione di una serie
s = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'], dtype='int64')
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

Una serie può rappresentare una colonna di un dataframe. In questo caso gli indici sono gli stessi del dataframe
e il nome della serie è il nome della colonna.

In [56]:
df['LotArea']

Id
1        8450
2        9600
3       11250
4        9550
5       14260
        ...
1456     7917
1457    13175
1458     9042
1459     9717
1460     9937
Name: LotArea, Length: 1460, dtype: int64

Una serie che rappresenta una riga di un dataframe.
In questo caso gli indici sono i nomi delle colonne
e il nome della serie è l'indice della riga

In [57]:
df.loc[1]

MSSubClass           60
MSZoning             RL
LotFrontage        65.0
LotArea            8450
Street             Pave
                  ...
MoSold                2
YrSold             2008
SaleType             WD
SaleCondition    Normal
SalePrice        208500
Name: 1, Length: 80, dtype: object

# Indexing

## iloc

la funzione `iloc` permette di selezionare righe e colonne utilizzando indici numerici.

In [58]:
# seleziona la prima riga del dataframe
df.iloc[0, :]

MSSubClass           60
MSZoning             RL
LotFrontage        65.0
LotArea            8450
Street             Pave
                  ...
MoSold                2
YrSold             2008
SaleType             WD
SaleCondition    Normal
SalePrice        208500
Name: 1, Length: 80, dtype: object

In [59]:
# seleziona le righe dalla seconda alla quarta
df.iloc[1:4, :]

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000

In [60]:
# seleziona la prima colonna delle righe dalla seconda alla quarta
df.iloc[1:4, 0]

Id
2    20
3    60
4    70
Name: MSSubClass, dtype: int64

## loc

la funzione `loc` permette di selezionare righe e colonne utilizzando come identificativi gli indici delle righe e i nomi delle colonne.

In [61]:
# indexing con lable (loc)
df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [63]:
df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [65]:
# dataframe
df.loc[1:4:, ['Street', 'LotShape']]

   Street LotShape
Id
1    Pave      Reg
2    Pave      Reg
3    Pave      IR1
4    Pave      IR1

In [69]:
# series
df.loc[1:4:, 'LotShape']

Id
1    Reg
2    Reg
3    IR1
4    IR1
Name: LotShape, dtype: object

## at e iat

`at` e `iat` permettono di accedere a singoli elementi di un DataFrame o di una Serie in modo più efficiente rispetto a `loc` e `iloc`.

In [71]:
df.at[3, 'LotShape']

'IR1'

In [72]:
df.iat[5, 1]

'RL'

### Indicizzazione booleana

Se si applica un operatore di confronto a una serie o a un dataframe, viene restituita una serie o un dataframe di valori booleani.

In [73]:
# maschere
df['LotArea'] > 10000

Id
1       False
2       False
3        True
4       False
5        True
        ...
1456    False
1457     True
1458    False
1459    False
1460    False
Name: LotArea, Length: 1460, dtype: bool

Una serie booleana può essere utilizzata per filtrare i dati di una serie o di un dataframe.

In [74]:
df[df['LotArea'] > 10000]

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1443,60,FV,85.0,11003,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2009,WD,Normal,310000
1447,20,RL,NaN,26142,Pave,NaN,IR1,Lvl,AllPub,CulDSac,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,157900
1449,50,RL,70.0,11767,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdWo,NaN,0,5,2007,WD,Normal,112000
1454,20,RL,90.0,17217,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,7,2006,WD,Abnorml,84500
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000

Più serie booleane possono essere combinate con gli operatori logici `&` (and), `|` (or) e `~` (not).

Attenzione: questi operatori hanno alta priorità rispetto agli operatori di confronto, quindi è necessario utilizzare le parentesi per evitare errori.

In [75]:
df[(df['LotArea'] > 10000) & (df['SalePrice'] > 200000)]

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
12,60,RL,85.0,11924,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,7,2006,New,Partial,345000
14,20,RL,91.0,10652,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,New,Partial,279500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1424,80,RL,NaN,19690,Pave,NaN,IR1,Lvl,AllPub,CulDSac,...,738,Gd,GdPrv,NaN,0,8,2006,WD,Alloca,274970
1427,60,RL,81.0,10944,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2008,WD,Normal,271000
1438,20,RL,96.0,12444,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,11,2008,New,Partial,394617
1443,60,FV,85.0,11003,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2009,WD,Normal,310000
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000

Gli operatori logici di python (`and`, `or`, `not`) non funzionano con le serie booleane di pandas.

In [76]:
df[(df['LotArea'] > 10000) and (df['SalePrice'] > 200000)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

## Iterazione

Per iterare su un DataFrame si può utilizzare il metodo `itertuples()`, che restituisce un iteratore di tuple con nome.

In [81]:
for row in df.itertuples():
    print(row.LotArea, row.SalePrice)

8450 208500
9600 181500
11250 223500
9550 140000
14260 250000
14115 143000
10084 307000
10382 200000
6120 129900
7420 118000
11200 129500
11924 345000
12968 144000
10652 279500
10920 157000
6120 132000
11241 149000
10791 90000
13695 159000
7560 139000
14215 325300
7449 139400
9742 230000
4224 129900
8246 154000
14230 256300
7200 134800
11478 306000
16321 207500
6324 68500
8500 40000
8544 149350
11049 179900
10552 165500
7313 277500
13418 309000
10859 145000
8532 153000
7922 109000
6040 82000
8658 160000
16905 170000
9180 144000
9200 130250
7945 141000
7658 319900
12822 239686
11096 249700
4456 113000
7742 127000
13869 177000
6240 114500
8472 110000
50271 385000
7134 130000
10175 180500
2645 172500
11645 196500
13682 438780
7200 124900
13072 158000
7200 101000
6442 202500
10300 140000
9375 219500
9591 317000
19900 180000
10665 226000
4608 80000
15593 225000
13651 244000
7599 129500
10141 185000
10200 144900
5790 107400
1596 91000
8475 135750
8635 127000
10778 136500
10440 110000
13000 193500
4500 153500
10206 245000
8892 126500
8530 168500
16059 260000
11911 174000
3951 164500
8470 85000
8070 123600
7200 109900
8500 98600
13360 163500
7200 133900
9337 204750
9765 185000
10264 214000
10921 94750
10625 83000
9320 128950
10603 205000
9206 178000
7018 118964
10402 198900
7758 169500
9375 250000
10800 100000
6000 115000
8500 115000
11751 190000
9525 136900
7750 180000
9965 383970
21000 217000
7259 259500
3230 176000
11616 139000
8536 155000
12376 320000
8461 163990
21453 180000
6060 100000
9464 136000
7892 153900
17043 181000
6780 84500
4928 128000
4388 87000
7590 155000
8973 150000
14200 226000
12224 244000
7388 150750
6853 220000
10335 180000
10400 174000
10355 143000
11070 171000
9066 230000
15426 231500
10500 115000
11645 260000
8520 166000
10335 204000
9100 125000
2522 130000
6120 105000
9505 222500
7500 141000
6240 115000
10356 122000
13891 372402
14803 190000
13500 235000
11340 125000
9600 79000
7200 109500
12003 269500
12552 254900
19378 320000
11120 162500
13688 412500
12182 220000
5500 103200
5400 152000
10106 127500
10708 190000
10562 325624
8244 183500
16669 228000
12358 128500
31770 215000
5306 239000
10197 163000
12416 184000
12615 243000
10029 211000
13650 172500
17423 501837
8520 100000
2117 177000
7588 200100
9060 120000
11426 200000
7438 127000
22950 475000
9947 173000
10410 135000
7018 153337
4923 286000
10570 315000
7472 184000
9017 192000
2522 130000
7180 127000
2280 148500
9416 311872
25419 235000
5520 104000
9591 274900
8546 140000
10125 171500
7000 112000
4438 149000
3500 110000
11851 180500
13673 143900
12493 141000
14364 277000
8250 145000
5604 98000
10420 186000
8640 252678
13568 156000
10900 161750
10011 134450
8450 210000
9906 107000
15660 311500
3010 167240
8990 204900
8068 200000
11475 179900
10500 97000
13472 386250
1680 112000
9950 290000
1869 106000
8521 125000
3182 192500
8760 148000
15138 403000
1680 94500
10650 128200
7851 216500
1680 89500
8773 185500
9453 194500
12030 318000
8741 113000
9000 262500
3880 110500
5000 79000
10762 120000
8880 205000
10400 241500
9142 137000
11310 140000
11317 180000
159000 277000
5350 76500
4750 235000
8366 173000
9350 158000
8400 145000
8738 230000
8791 207500
8814 220000
12435 231500
12702 97000
19296 176000
9588 276000
8471 151000
5500 130000
5232 73000
12090 175500
11207 185000
8400 179500
6900 120500
7917 148000
10728 266000
39104 241500
11764 290000
9600 139000
8314 124500
7264 205000
9196 201000
19138 141000
14450 415298
10005 192000
11287 228500
7200 185000
5063 207500
9612 244600
8012 179200
4251 164700
9786 159000
8125 88000
9819 122000
8730 153575
15611 233230
5687 135900
11409 131000
16659 235000
9600 167000
7937 142500
13710 152000
7399 239000
11700 175000
14000 158500
15750 157000
16226 267000
13704 205000
9800 149900
18386 295000
10386 305900
13474 225000
7920 89500
12342 82500
12378 360000
7685 165600
8000 132000
7800 119900
215245 375000
9600 178000
7795 188500
13005 260000
9000 270000
9900 260000
14115 187500
16259 342643
12099 354000
10380 301000
5820 126175
11275 242000
5000 87000
10846 324000
11600 145250
11888 214500
6402 78000
10624 119000
8176 139000
10655 284000
8198 207000
9042 192000
164660 228950
14157 377426
9135 214000
14145 202500
12400 155000
14191 202900
8400 82000
8544 87500
8849 266000
2592 85000
6435 140200
12772 151500
17600 157500
2448 154000
20431 437154
7820 318061
5271 190000
9084 95000
8520 105900
8400 140000
11249 177500
9248 173000
4224 134000
6930 130000
12011 280000
7540 156000
9144 145000
7301 198500
1680 118000
18800 190000
10690 147000
9500 159000
9150 165000
7800 132000
9830 162000
8121 172400
17120 134432
7175 125000
10634 123000
8200 219500
10020 61000
8846 148000
11143 340000
11394 394432
8123 179000
5000 127000
7200 187750
9245 213500
9000 76000
53107 240000
3182 192000
8410 81000
7200 125000
9382 191000
12474 426000
8405 119000
12209 215000
8339 106500
7446 100000
10134 109000
9571 129000
7200 123000
7590 169500
8967 67000
8125 241000
14963 245500
8767 164990
10200 108000
12090 258000
10364 168000
9991 150000
10480 115000
15576 177000
14154 280000
10800 339750
9571 60000
34650 145000
4403 222000
8960 115000
11228 228000
8899 181134
7844 149500
22420 239000
8160 126000
8450 142000
7060 206300
16635 215000
21750 113000
9200 315000
9000 139000
3378 135000
12800 275000
8593 109008
6762 195400
11457 175000
1680 85400
5586 79900
1920 122500
10839 181000
1890 81000
10667 212000
4400 116000
6000 119000
4280 90350
12354 110000
15431 555000
12108 118000
6240 162900
3922 172500
8750 210000
9855 127500
16492 190000
11214 199900
8600 119500
6000 120000
5684 110000
70761 280000
9303 204000
9000 210000
9297 188000
9600 175500
4571 98000
53227 256000
5100 161000
7015 110000
8004 263435
7200 155000
8281 62383
11988 188700
8430 124000
3072 178740
10628 167000
9480 146500
11428 250000
9291 187000
6820 212000
11952 190000
3675 148000
14977 440000
5330 251000
8480 132500
13125 208900
13693 380000
10637 297000
5925 89471
16033 326000
11846 374000
2500 155000
4500 164000
7758 132500
9600 147000
10289 156000
12243 175000
10800 160000
1526 86000
2665 115000
9490 133000
15578 172785
7931 155000
5784 91300
7879 34900
12692 430000
9120 184000
7800 130000
7535 120000
1890 113000
9803 226700
9170 140000
15602 289000
2308 147000
7596 124500
9554 215000
7862 208300
9600 161000
9600 124500
14559 164900
6792 202665
9100 129900
9187 134000
10594 96500
12220 402861
10448 158000
10208 265000
9531 211000
10918 234000
10800 106250
11988 150000
5000 159000
40094 184750
11787 315750
7500 176000
13300 132000
14948 446261
9098 86000
32668 200624
10200 175000
6155 128000
7200 107500
5000 39300
9056 178000
7000 107500
8924 188000
12735 111250
11553 158000
11423 272000
14601 315000
11000 248000
10140 213250
4058 133000
17104 179665
13837 229000
8737 210000
7244 129500
8235 125000
9375 263000
4043 140000
6000 112500
11146 255500
8777 108000
10625 284000
6380 113000
14850 141000
11040 108000
21872 175000
3196 234000
11341 121500
10010 170000
13907 108000
21780 185000
13346 268000
6858 128000
11198 325000
10171 214000
12327 316600
7032 135960
13101 142600
7332 120000
13159 224500
9967 170000
10500 139000
8480 118500
6292 145000
11777 164500
3604 146000
12150 131500
14585 181900
12704 253293
11841 118500
13500 325000
6120 133000
11443 369900
10267 130000
8740 137000
25095 143000
9100 79500
8320 185900
13478 451950
6600 138000
4435 140000
7990 110000
11302 319000
3600 114504
3922 194201
12984 217500
1950 151000
10927 275000
9000 141000
10041 220000
3182 151000
12803 221000
13600 205000
12464 152000
7800 225000
12168 359100
7943 118500
11050 313000
10395 148000
11885 261500
8402 147000
1491 75500
8800 137500
7861 183200
7227 105500
11694 314813
12244 305000
8248 67000
10800 240000
7064 135000
2117 168500
10400 165150
10000 160000
12342 139900
9600 153000
11606 135000
9020 168500
9000 124000
4590 209500
11900 82500
9250 139400
6979 144000
10896 200000
6120 60000
6000 93000
8777 85000
3982 264561
12677 274000
7050 226000
13860 345000
10793 152000
9187 370878
10530 143250
7200 98300
10452 155000
7700 155000
1936 84500
8125 205950
9084 108000
8750 191000
10320 135000
10437 350000
1680 88000
10007 145500
7200 149000
17503 97500
9937 167000
12384 197900
46589 402000
13560 110000
10012 137500
20896 423000
11194 230500
18450 129000
8125 193500
14175 168000
11600 137500
8633 173500
6629 103600
11250 165000
14442 257500
9200 140000
2289 148500
9600 87000
9022 109500
11844 372500
9945 128500
8012 143000
4500 159434
2887 173000
11248 285000
16770 221000
5062 207500
10207 227875
5105 148800
8089 392000
7577 194700
4426 141000
21535 755000
26178 335000
5400 108480
6120 141500
13811 176000
6000 89000
6420 123500
8450 138500
4282 196000
14331 312500
9600 140000
12438 361919
7630 140000
8400 213000
5600 55000
115149 302000
6240 254000
9018 179540
7162 109900
4130 52000
8712 102776
4671 189000
9873 129000
13517 130500
10140 165000
10800 159500
10000 157000
10542 341000
9920 128500
6563 275000
4426 143000
8120 124500
8172 135000
13286 320000
6960 120500
21695 222000
7314 194500
11475 110000
6240 103000
5389 236500
9590 187500
11404 222500
10000 131400
8978 108000
10800 163000
8544 93500
10463 239900
10800 179000
9313 190000
9600 132000
6768 142000
8450 179000
12886 175000
5395 180000
8963 299800
8795 236000
11700 265979
10593 260400
8405 98000
8800 96500
7750 162000
9236 217000
10240 275500
7930 156000
3230 172500
10769 212000
11616 158900
2280 179400
12257 290000
9100 127500
6911 100000
8640 215200
9430 337000
9549 270000
14587 264132
10421 196500
12508 160000
9100 216837
53504 538000
7252 134900
8877 102000
7819 107000
10150 114500
14226 395000
4500 162000
11210 221500
13350 142500
8400 144000
10530 135000
7875 176000
7153 175900
16285 187100
9101 165500
6300 128000
9790 161500
10800 139000
10142 233000
6000 107900
12205 187500
3182 160200
11333 146800
9920 269790
9158 225000
10832 194500
8400 171000
8197 143500
7677 110000
13518 485000
7200 175000
12798 200000
4800 109900
8199 189000
13891 582933
9000 118000
12274 227680
9750 135500
21384 223500
13400 159950
8100 106000
10140 181000
4438 144500
8712 55993
9750 157900
8248 116000
12137 224900
11425 137000
13265 271000
8816 155000
6371 224000
7226 183000
6000 93000
12394 225000
9900 139500
11216 232600
14803 385000
6130 109500
8529 189000
28698 185000
2544 147400
11900 166000
3180 151000
9548 237000
10004 167000
7875 139950
9600 128000
8100 153500
1680 100000
9525 144000
11767 130500
12155 140000
10440 157500
9020 174900
8000 141000
12665 153900
16647 171000
9317 213000
15523 133500
45600 240000
9600 187000
4435 131500
3196 215000
7128 164000
12095 158000
17920 170000
6897 127000
10970 147000
8125 174000
10400 152000
11029 250000
7642 189950
11625 131500
9672 152000
7931 132500
8640 250580
8750 148500
10656 248900
6970 129000
14762 169000
9938 236000
6600 109500
8750 200500
8892 116000
12144 133000
5720 66500
9000 303477
25286 132250
8834 350000
11782 148000
7000 136500
7024 157000
13758 187500
9636 178000
6204 118500
7150 100000
5119 328900
8393 145000
16466 135500
15865 268000
12160 149500
8064 122900
11184 172500
8414 154500
13284 165000
7018 118858
7056 140000
8765 106500
7018 142953
12919 611657
6993 135000
7340 110000
8712 153000
7875 180000
14859 240000
6173 125500
9920 128000
13501 255000
11500 250000
8885 131000
12589 174000
11600 154300
9286 143500
6120 88000
6270 145000
3000 173733
2001 75000
9000 35311
17140 135000
13125 238000
11029 176500
8462 201000
8777 145900
10237 169990
8012 193000
10240 207500
15611 175000
11999 285000
9900 176000
11838 236500
13006 222000
8925 201000
9100 117500
11670 320000
8487 190000
27650 242000
5825 79900
10083 184900
9675 253000
8760 239799
24090 244400
12640 150900
8755 214000
7711 150000
25000 143000
14375 137500
8820 124900
8163 143000
14536 270000
14006 192500
9360 197500
7200 129000
7800 119900
7200 133900
11075 172000
9400 127500
7136 145000
1300 124000
7420 132000
8450 185000
2572 155000
7207 116500
12227 272000
2308 155000
11923 239000
11316 214900
10237 178900
9600 160000
7390 135000
5925 37900
10382 140000
10800 135000
2268 173000
7892 99500
11639 182000
11414 167500
2651 165000
5900 85500
4274 199900
9450 110000
8816 139000
12122 178400
12203 336000
3182 159895
11250 255900
10125 126000
10880 125000
5310 117000
10159 395192
12046 195000
8125 197000
9452 348000
17671 168000
9760 187000
8846 173900
12456 337500
4712 121600
10659 136500
11717 185000
9786 91000
6762 206000
10206 82000
5400 86000
11957 232000
11500 136905
3182 181000
8385 149900
12155 163500
2217 88000
12118 240000
6000 102000
21286 135000
9825 100000
10592 165000
7200 85000
11664 119200
8400 227000
11883 203000
5814 187500
10784 160000
3013 213490
7024 176000
7406 194000
9439 87000
3182 191000
15498 287000
7700 112500
9300 167500
9520 293077
9492 105000
1680 118000
7082 160000
15863 197000
14541 310000
8125 230000
6305 119750
11500 84000
12898 315500
9240 287000
1533 97000
1477 80000
13125 155000
9130 173000
5381 196000
11839 262280
9600 278000
13680 139600
16056 556581
9245 145000
21750 115000
11100 84900
8993 176485
11175 200141
9500 165000
8562 144500
11367 255000
11361 180000
7052 185850
29959 248000
11308 335000
11275 220000
4920 213500
18000 81000
13600 90000
6000 110500
11000 154000
14000 328000
7837 178000
9760 167900
3964 151400
9600 135000
10152 135000
11700 154000
7585 91500
7950 159500
8556 194000
13125 219500
10800 170000
15870 138800
4435 155900
8775 126000
11040 145000
7500 133000
8749 192000
8800 160000
13031 187500
9069 147000
1974 83500
10574 252000
2522 137500
3316 197000
8544 92900
2160 160000
8400 136500
9230 146000
5868 129000
9317 176432
6882 127000
3696 170000
6000 128000
11880 157000
8400 60000
9758 119500
7000 135000
8910 159500
2016 106000
12256 325000
10357 179900
23257 274725
8063 181000
11362 280000
8000 188000
10480 205000
7100 129900
8923 134500
5400 117000
12085 318000
7750 184100
9764 130000
13825 140000
7560 133700
8263 118400
10084 212900
8926 112000
9405 118000
9125 163900
10434 115000
3684 174000
14572 259000
11796 215000
7200 140000
7804 135000
10712 93500
9900 117500
9828 239500
8773 169000
6180 102000
9600 119000
6342 94000
9819 196000
8731 144000
7350 139000
10304 197500
9965 424870
9000 80000
12180 80000
6240 149000
11200 180000
12000 174500
5700 116900
9000 143000
8280 124000
17755 149900
14115 230000
5890 120500
13700 201800
10768 218000
9350 179900
5001 230000
11932 235128
9120 185000
2280 146000
14778 224000
8724 129000
12900 108959
16157 194000
9541 233170
10475 245350
10852 173000
13728 235000
35760 625000
9880 171000
9120 163000
4017 171900
18030 200500
16560 239000
10678 285000
6951 119500
3950 115000
7681 154900
8335 93000
11170 250000
5587 392500
15623 745000
10800 120000
35133 186700
9738 104900
10615 95000
12461 262000
8935 195000
7500 189000
32463 168000
2645 174000
9600 125000
4500 165000
9364 158000
8029 176000
14054 219210
8850 144000
9100 178000
11235 148000
9353 116050
10400 197900
6000 117000
9750 213000
10140 153500
14684 271900
8900 107000
9135 200000
7763 140000
10182 290000
11218 189000
12134 164000
9340 113000
10246 145000
10205 134500
7094 125000
8930 112000
8640 229456
6240 80500
1680 91500
7800 115000
8250 134000
10496 143000
10680 137900
15384 184000
10482 145000
14598 214000
8872 147000
8769 367294
7910 127000
18890 190000
7728 132500
9842 101800
12160 142000
8525 130000
13132 138887
2628 175500
12393 195000
13072 142500
9037 265900
8158 224900
9849 248328
10625 170000
13891 465000
11435 230000
12090 178000
8125 186500
12328 169900
9600 129500
7200 119000
11160 244000
3136 171750
9858 130000
17542 294000
6931 165400
6240 127500
14303 301500
4060 99900
9587 190000
9750 151000
24682 181000
9600 128900
11250 161500
13515 180500
4060 181000
3735 183900
10120 122000
13214 378500
14100 381000
11344 144000
23595 260000
9156 185750
13526 137000
11512 177000
5362 139000
11345 137000
12936 162000
17871 197900
9473 237000
7500 68400
9808 227000
8049 180000
8800 150500
9400 139000
9638 169000
6000 132500
9790 143000
36500 190000
5664 278000
11065 281000
14112 180500
1680 119500
6600 107500
10140 162900
8172 115000
8400 138500
8700 155000
3675 140000
63887 160000
7500 154000
10762 225000
7500 177500
10120 290000
8688 232000
3363 130000
13173 325000
6955 202500
8072 138000
12000 147000
7153 179200
17500 335000
8814 203000
9572 302000
14774 333168
8190 119000
11075 206900
10226 295493
4230 208900
14781 275000
10215 111000
8400 156500
6627 72500
10186 190000
5330 82500
9986 147000
3636 55000
4270 79000
6600 130500
10440 256000
9084 176500
10000 227000
10780 132500
8877 100000
7200 125500
2368 125000
9650 167900
9246 135000
4118 52500
13450 200000
9560 128500
8294 123000
13695 155000
9375 228500
7558 177000
11103 155835
6000 108500
20781 262500
15306 283463
16196 215000
5250 122000
11643 200000
9247 171000
6000 134900
14720 410000
10316 235000
10192 170000
9477 110000
12537 149900
2117 177500
16737 315000
9842 189000
16158 260000
12513 104900
8499 156932
3180 144152
7500 216000
9179 193000
2665 127000
4435 144000
10635 232000
5400 105000
9600 165500
9750 274300
11400 466500
10625 250000
10991 239000
6292 91000
10998 117000
1953 83000
9735 167500
8212 58500
12925 237500
7200 157000
25339 112000
9060 105000
5436 125500
16692 250000
8520 136000
14892 377500
6000 131000
9100 235000
8944 124000
7838 123000
10800 163000
4045 246578
12665 281213
57200 160000
6120 137500
7200 138000
6171 137450
6000 120000
7415 193000
6762 193879
15256 282922
10410 105000
3842 275000
8445 133000
8780 112000
7740 125500
20544 215000
12420 230000
9600 140000
7200 90000
10994 257000
13053 207000
3635 175900
11340 122500
16545 340000
9204 124000
16381 223000
11700 179900
4043 127500
4435 136500
19690 274970
9503 144000
10721 142000
10944 271000
10930 140000
7200 119000
12546 182900
21930 192140
4928 143750
10800 64500
10261 186500
17400 160000
8400 174000
9000 120500
12444 394617
7407 149700
11584 197000
11526 191000
4426 149300
11003 310000
8854 121000
8500 179600
8400 129000
26142 157900
10000 240000
11767 112000
1533 92000
9000 136000
9262 287090
3675 145000
17217 84500
7500 185000
7917 175000
13175 210000
9042 266500
9717 142125
9937 147500

# Unione
https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']},
    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']},
    index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
    'B': ['B8', 'B9', 'B10', 'B11'],
    'C': ['C8', 'C9', 'C10', 'C11'],
    'D': ['D8', 'D9', 'D10', 'D11']},
    index=[8, 9, 10, 11])

In [ ]:
pd.concat((df1, df2, df3))

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']},
    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']},
    index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
    'B': ['B8', 'B9', 'B10', 'B11'],
    'C': ['C8', 'C9', 'C10', 'C11'],
    'D': ['D8', 'D9', 'D10', 'D11']},
    index=[0, 1, 2, 3])

In [ ]:
pd.concat((df1, df2, df3), ignore_index=True)

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']},
    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'E': ['A4', 'A5', 'A6', 'A7'],
    'F': ['B4', 'B5', 'B6', 'B7'],
    'G': ['C4', 'C5', 'C6', 'C7'],
    'H': ['D4', 'D5', 'D6', 'D7']},
    index=[4, 5, 6, 7])

In [ ]:
pd.concat((df1, df2))

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']},
    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'F': ['A4', 'A5', 'A6']},
    index=[0, 2, 4])

In [ ]:
pd.concat((df1, df2))

In [ ]:
pd.concat((df1, df2), axis=1)

In [ ]:
pd.concat((df1, df2), axis=1, join='inner')

In [ ]:
# Per join più complicati
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html#pandas.DataFrame.join
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html

## Valori Nan

<img src="imgs\nan_operations.png" width="600">

In [ ]:
df = pd.read_csv('data\FSE\GXI_X.csv', index_col='Date')

In [ ]:
df.info()

In [ ]:
# se si vogliono trattare i valori infiniti come nan bisogna attivare l'opzione
df.notna()

In [ ]:
df.isna()

In [ ]:
s = pd.Series(np.array([np.nan, 2, 3, 4, np.nan, np.nan]))

In [ ]:
s.fillna('missing')

In [ ]:
s.fillna(method='pad', limit=1)

In [ ]:
s.fillna(method='bfill', limit=1)

In [ ]:
df = pd.DataFrame(s)

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html#pandas.DataFrame.dropna
df.dropna()

In [ ]:
# fill i valori di una tabella
dff = pd.DataFrame(np.random.randn(10, 3), columns=list('ABC'))
dff.iloc[3:5, 0] = np.nan
dff.iloc[4:6, 1] = np.nan
dff.iloc[5:8, 2] = np.nan

In [ ]:
dff.mean()

In [ ]:
dff.fillna(dff.mean())

In [ ]:
dff.fillna(dff.mean()['B':'C'])

In [ ]:
# fill con interpolazione

## Plot
https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html

In [ ]:
df = pd.read_csv('data\FSE\GXI_X.csv', index_col='Date', parse_dates=['Date'])

In [ ]:
df['Close'].plot(figsize=(25,10))

In [ ]:
df[[col for col in df.columns if col not in ['Turnover', 'Traded Volume'] ]].plot(figsize=(25,10))

## Rolling
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rolling.html

In [ ]:
df = pd.read_csv('data\FSE\GXI_X.csv', index_col='Date', parse_dates=['Date'])

In [ ]:
df.head()

In [ ]:
df['Close'].plot(figsize=(15, 15))

In [ ]:
# il rolling può essere effettuato anche specificando un intervallo temporale piuttosto che il numero di elementi
smooth_close = df['Close'].rolling(window=20, center=True, min_periods=1).mean(); smooth_close

In [ ]:
smooth_close.plot(figsize=(15, 15))

## Variabili categoriche

In [5]:
# https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data
df = pd.read_csv('https://raw.githubusercontent.com/btlgs2000/machine_learning_basic/master/data/house-prices-advanced-regression-techniques/train.csv')

In [7]:
df['MSZoning'].unique()

array(['RL', 'RM', 'C (all)', 'FV', 'RH'], dtype=object)

In [9]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [12]:
pd.get_dummies(df)

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,0,0,1,0,0,0,0,1,0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,0,0,0,1,0,0,0,0,1,0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,0,0,1,0,0,0,0,1,0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,0,0,1,1,0,0,0,0,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,6,5,1999,2000,0.0,0,...,0,0,0,1,0,0,0,0,1,0
1456,1457,20,85.0,13175,6,6,1978,1988,119.0,790,...,0,0,0,1,0,0,0,0,1,0
1457,1458,70,66.0,9042,7,9,1941,2006,0.0,275,...,0,0,0,1,0,0,0,0,1,0
1458,1459,20,68.0,9717,5,6,1950,1996,0.0,49,...,0,0,0,1,0,0,0,0,1,0
1459,1460,20,75.0,9937,5,6,1965,1965,0.0,830,...,0,0,0,1,0,0,0,0,1,0

In [15]:
pd.get_dummies(df, columns=['MSZoning'])

,Id,MSSubClass,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,MoSold,YrSold,SaleType,SaleCondition,SalePrice,MSZoning_C (all),MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM
0,1,60,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,2,2008,WD,Normal,208500,0,0,0,1,0
1,2,20,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,5,2007,WD,Normal,181500,0,0,0,1,0
2,3,60,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,9,2008,WD,Normal,223500,0,0,0,1,0
3,4,70,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,2,2006,WD,Abnorml,140000,0,0,0,1,0
4,5,60,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,12,2008,WD,Normal,250000,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,8,2007,WD,Normal,175000,0,0,0,1,0
1456,1457,20,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,2,2010,WD,Normal,210000,0,0,0,1,0
1457,1458,70,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,5,2010,WD,Normal,266500,0,0,0,1,0
1458,1459,20,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,4,2010,WD,Normal,142125,0,0,0,1,0
1459,1460,20,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,6,2008,WD,Normal,147500,0,0,0,1,0

In [18]:
dummies = pd.get_dummies(df['MSZoning'], prefix='MSZoning')

In [20]:
pd.concat([df, dummies], axis=1)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MoSold,YrSold,SaleType,SaleCondition,SalePrice,MSZoning_C (all),MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,2,2008,WD,Normal,208500,0,0,0,1,0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,5,2007,WD,Normal,181500,0,0,0,1,0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,9,2008,WD,Normal,223500,0,0,0,1,0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,2,2006,WD,Abnorml,140000,0,0,0,1,0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,12,2008,WD,Normal,250000,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,8,2007,WD,Normal,175000,0,0,0,1,0
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,2,2010,WD,Normal,210000,0,0,0,1,0
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,5,2010,WD,Normal,266500,0,0,0,1,0
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,4,2010,WD,Normal,142125,0,0,0,1,0
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,6,2008,WD,Normal,147500,0,0,0,1,0

In [22]:
df['Utilities'].unique()

array(['AllPub', 'NoSeWa'], dtype=object)

In [28]:
df.Utilities = df.Utilities.replace(['AllPub', 'NoSeWa'], [4, 2])

## Groupby

In [ ]:
# https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [ ]:
n = 1000
days = pd.date_range('2018-01-01', periods=n, freq='D')
names = [random.choice(['Angelo', 'Marco', 'Vittorio']) for _ in range(n)]
numbers = [random.randint(1, 10) for _ in range(n)]
ages = [random.randint(30, 80) for _ in range(n)]

df = pd.DataFrame(data=zip(names, numbers, ages), columns=['names', 'numbers', 'ages'], index=days)

In [ ]:
df.head()

In [ ]:
grouped = df.groupby('names')

for name, group in grouped:
    print(name)
    print(group)

In [ ]:
grouped.get_group('Angelo')

<img src="imgs\aggregazione.png" width=400>

In [ ]:
grouped.size()

In [ ]:
grouped.describe()

In [ ]:
grouped.std()

In [ ]:
## Aggregazione
df.groupby('names').agg(lambda x: sum(x))

In [ ]:
# Trasformazione
df.groupby(['names']).transform(lambda x: (x - x.mean()) / x.std())

In [ ]:
# Filtraggio
df.groupby(['names']).filter(lambda x: x['numbers'].sum() < 1940)

## Alternative a Pandas

Limiti di Pandas:

* Non parallelizza i calcoli
* Carica l'intero Dataset in memoria

Modin, Dask

# Esercizi

In [ ]:
# load AAD_X (Date come indice)
df = pd.read_csv(r'F:\Documenti\insegnamento\pandas\data\FSE\AAD_X.csv', parse_dates=['Date'], index_col='Date')

In [ ]:
# visualizza la colonna open

In [ ]:
# conta i nan nella colonna open e riempili con interpolazione lineare

In [ ]:
# aggiungi una colonna con i ritorni giornalieri (relativi alla colonna open) (es 0.02 se +2%)

In [ ]:
# calcola il ritorno mensile medio